# Vitte → Rust pour la coloration & les stats (Linguist)
*.vitte linguist-language=Rust
*.vit   linguist-language=Rust
*.vitt  linguist-language=Rust

# (facultatif) nettoyer les stats
vendor/**                linguist-vendored
**/generated/**          linguist-generated
docs/**                  linguist-documentation
